version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: zomato_clone

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway

  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:3000"
    depends_on:
      - user-service
      - restaurant-service
      - order-service

  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
    depends_on:
      - mongodb
    environment:
      MONGO_URL: mongodb://mongodb:27017/zomato_clone

  restaurant-service:
    build: ./restaurant-service
    ports:
      - "3002:3002"
    depends_on:
      - mongodb
    environment:
      MONGO_URL: mongodb://mongodb:27017/zomato_clone

  order-service:
    build: ./order-service
    ports:
      - "3003:3003"
    depends_on:
      - mongodb
    environment:
      MONGO_URL: mongodb://mongodb:27017/zomato_clone