kind: Deployment
apiVersion: apps/v1
metadata:
  name: frontend
  namespace: zomato-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: manodayahire/zomato-frontend:v6
        ports:
        - containerPort: 3000
        env:
        - name: HOST
          value: "0.0.0.0"
        - name: REACT_APP_API_URL
          value: "http://localhost:8000"
        resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: zomato-ns
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: NodePort