apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: zomato-ns
spec:
  replicas: 1
  serviceName: mongo-service
  selector:
    matchLabels:
      db: mongodb
  template:
    metadata:
      labels:
        db: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:4.4
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_DATABASE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MONGO_INITDB_DATABASE
              
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
       

---
kind: Service
apiVersion: v1
metadata:
  name: mongo-service 
  namespace: zomato-ns 
spec:
  selector:
    db: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP