apiVersion: apps/v1
kind: Deployment
metadata: 
  name: order-service
  namespace: zomato-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service-container
        image: manodayahire/zomato-order-service:v1
        ports:
        - containerPort: 3003
        env: 
        - name: MONGO_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MONGO_URL
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        
        
---
kind: Service
apiVersion: v1
metadata:
  name: order-service
  namespace: zomato-ns
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 3003
      targetPort: 3003
  type: ClusterIP
