kind: Deployment
apiVersion: apps/v1
metadata:
  name: restaurant-service
  namespace: zomato-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: restaurant-service
  template:
    metadata:
      labels:
        app: restaurant-service
    spec:
      containers:
      - name: restaurant-service-container
        image: manodayahire/zomato-restaurant-service:v3
        ports:
        - containerPort: 3002
        env:
        - name: MONGO_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MONGO_URL
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        
---
apiVersion: v1
kind: Service
metadata:
  name: restaurant-service 
  namespace: zomato-ns
spec:   
  selector:
    app: restaurant-service
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: ClusterIP

